networks:
  dev:
    driver: bridge
services:
  app:
    image: fastapi-app:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URI=${DATABASE_URI}
    depends_on:
      - db
    volumes:
      - ./src:/src
    restart: always
    networks:
      - dev

  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data

    networks:
      - dev
    ports:
      - ${POSTGRES_PORT}

volumes:
  db_data:
